<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<title>LIBRARY</title>
		<link rel="stylesheet" type="text/css" href="webRes/style.css" />
		<script src="webRes/jquery.js"></script>
		<script src="webRes/model.js"></script>
	</head>
	<body>
		<div class="centered"><div class="pointer inline" onClick="refreshPage()">
    	     &nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />                          
			 &nbsp;| |&nbsp;&nbsp;(_) |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />                       
			 &nbsp;| |&nbsp;&nbsp;&nbsp;_| |__&nbsp;&nbsp;_ __ __ _ _ __ _&nbsp;&nbsp;&nbsp;_&nbsp;<br /> 
			 &nbsp;| |&nbsp;&nbsp;| | '_ \| '__/ _` | '__| | | |<br /> 
			 &nbsp;| |__| | |_) | | | (_| | |&nbsp;&nbsp;| |_| |<br /> 
			 &nbsp;|____|_|_.__/|_|&nbsp;&nbsp;\__,_|_|&nbsp;&nbsp;&nbsp;\__, |<br /> 
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__/ |<br /> 
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|___/ <br /><br /> 
    	</div></div>
    	<!-- WELCOME_MESSAGE -->
    	<!-- LANG_BUTT -->
    	<!-- LOGINKO -->