<div class="formWrapper">
	<form class="inline paddBott" accept-charset="UTF-8" method="POST">
   		<input type="hidden" name="action" value="newGenre" />
   		<input type="submit" value="<!-- TOKEN4 -->" />
   		<!-- <input type="button" value="Aggiungi" class="submitButton" /> -->
   		<input type="text" name="val" placeholder="<!-- TOKEN5 -->" />
   	</form>
   	<form class="inline shiftRight paddBott" accept-charset="UTF-8" method="POST">
   		<input type="hidden" name="action" value="delGenre" />
   		<input type="submit" value="<!-- TOKEN6 -->" />
   		<!-- <input type="button" value="Rimuovi" class="submitButton" /> -->
   		<select name="val" class="genresSelect"><!-- GENRES --></select>
   	</form>
</div>
<form class="centered paddBott" accept-charset="UTF-8" method="POST">
	<input type="hidden" name="action" value="setGenre" />
   		<input type="submit" value="<!-- TOKEN7 -->" />
	<!-- <input type="button" value="Modifica" class="submitButton" /> -->
	<select name="tit" class="titlesSelect"><!-- TITLES --></select>
	<select name="gen" class="genresSelect"><!-- GENRES --></select>
</form>
