<form class="centered paddBott" accept-charset="UTF-8" method="POST">
	<input type="hidden" name="action" value="newBook" />
   	<input type="submit" value="<!-- TOKEN0 -->" />
	<input name="title" type="text" placeholder="<!-- TOKEN1 -->" />
	<input name="author" type="text" placeholder="<!-- TOKEN2 -->" />
 	<select name="genre" class="genresSelect"><!-- GENRES --></select>
	<input name="path" type="text" placeholder="<!-- TOKEN3 -->" />
	<!-- <input type="button" value="Pubblica!" class="submitButton" /> -->
</form>
