<form class="centered paddBott" accept-charset="UTF-8" method="POST">
	<input type="hidden" name="action" value="newBook" />
   	<input type="submit" value="Pubblica!" />
	<!-- <input type="button" value="Pubblica!" class="submitButton" /> -->
	<input name="title" type="text" placeholder="Titolo..." />
	<input name="author" type="text" placeholder="Autore..." />
 	<select name="genre" class="genresSelect"><!-- GENRES --></select>
	<input name="path" type="text" placeholder="Codename..." />
</form>
