BODY
{
    font-family: Courier;
    font-size: 18px;
    padding: 0px 10px 10px 10px;
    background-color: #000;
    color: #00FF00;
}

TABLE, TD, TH
{
	margin-top: 20px;
	border: 1px solid #0F0;
}
TABLE
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
TD { padding: 5px; }
TH { font-size: 25px; }
.paddBott { padding-bottom: 20px; }
.inline { display: inline-block; }
.centered { text-align: center; }
.shiftRight { margin-left: 7.5%; }
.pointer { cursor: pointer; }
.formWrapper { text-align: center; padding-left: 15%; padding-right: 15%; }
#search { margin-left: 5%; }